//banner
.banner{
    background-image: url(../images/banner.png);
    height: 394px;
    width: 100%;
    @include zoomimage;
    @include md{
        height: 840px;
    }
}
.banner__wrap{
    width: 100%;
    height: 100%;
    position: relative;
}
.banner__content{
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(5%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .banner__text{
        color: $dark;
        font-weight: bold;
        font-size: 1rem;
        line-height: 1.875rem;
        @include md{
            font-size: 1.25rem;
        }
        @include lg{
            font-size: 2.25rem;
            line-height: 3.375rem;
            font-weight: normal;
        }
    }
    .banner__title{
        color: $dark;
        font-weight: bold;
        font-size: 2rem;
        line-height: 2.8rem;
        @include md{
            font-size: 3rem;
            line-height: 4.5rem;
        }
        @include lg{
            font-size: 4rem;
            line-height: 6rem;
        }
    }
}

//服務
.service{
    background: $secondary;
    padding: 2rem 0rem 0.5rem 0rem;
    @include md{
        padding: 2.5rem 0rem 1.5rem 0rem;
    }
    @include lg{
        padding: 3.75rem 0rem;
    }
}
.service__title{
    color: $dark;
    font-size: 1.5rem;
    line-height: 35px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.25rem;
    @include md{
        font-size: 2rem;
        line-height: 3rem;
        margin-bottom: 2rem;
    }
    @include lg{
        font-size: 3rem;
        line-height: 4.5rem;
    }
}
.service__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    @include md{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: start;
    }
}

.service__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin-bottom: 2rem;
    @include md{
        width: 50%;
    }
    @include lg{
        width: 25%;
    }
}

.service__icon{
    font-size: 100px;
    color: $dark;
}
.service__item__title{
    font-weight: bold;
    color: $dark;
    font-size: 1.5rem;
    line-height: 2.25rem;
    margin-top: 1rem;
    margin-bottom: .5rem;
}
.service__item__text{
    line-height: 1.5rem;
    @include md{
        padding: 0rem 2.375rem;
    }
    @include lg{
        padding: 0rem 0.9rem;
    }
}

//經典系列眼鏡
.classic-collection{
    padding: 2rem 0rem;
    @include md{
        padding: 2.5rem 0rem;
    }
    @include lg{
        padding: 3.75rem 0rem 5rem 0rem;
    }
}
.classic-collection__title{
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: $dark;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
    @include md{
        font-size: 2rem;
        line-height: 3rem;
        margin-bottom: 1.5rem;
    }
    @include lg{
        font-size: 3rem;
        line-height: 4.5rem;
        margin-bottom: .5rem;
    }
}
.classic-category{
    margin-top: .5rem;
    .classic-category__link{
    display: flex;
    position: relative;
    };
    @include lg{
        margin-top: 2rem;
    }
}

.classic-category__img{
    height: 134px;
    width: 100%;
    @include zoomimage;
    @include md{
        width: 390px;
        height: 168px;
    }
    @include lg{
        width: 635px;
        height: 320px;
    }
}

.classic-category__content{
    position: absolute;
    display: flex;
    align-items: center;
    @include transform-center;
    @include md{
        left: 60%;
        transform: translateX(0%) translateY(-50%);
    }
}
.classic__icon{
   font-size: 2.5rem;
   color: $primary;
   @include lg{
       font-size: 2.75rem;
   }
}
.classic__title{
    font-size: 1.75rem;
    line-height: 2.25rem;
    font-weight: bold;
    font-style: italic;
    color: $primary;
    padding-left: .5rem;
    @include lg{
        font-size: 3rem;
        line-height: 4rem;
        padding-left: 1.375rem;
    }
}
.classic-category:nth-child(1){
    .classic-category__img{
        background-image: url(../images/series-classic-1.png);
    }
}
.classic-category:nth-child(2){
    .classic-category__img{
        background-image: url(../images/series-classic-2.png);
        background-position: center -100px;
    }
    .classic-category__link{
        @include lg{
            flex-direction: row-reverse;
        }
    }
    .classic-category__content{
        @include lg{
            left: 5%;
            transform: translateX(0%) translateY(-50%);
        }
    }
}
.classic-category:nth-child(3){
    .classic-category__img{
        background-image: url(../images/series-classic-3.png);
        background-position: center -80px;
    }
}



//聯名設計鏡框
.coDesign-collection{
    background-image: url(/assets/images/coDesign-bg.png);
    @include zoomimage;
    padding: 2rem 0rem;
    @include md{
        padding: 2.5rem 0rem;
    }
    @include lg{
        padding: 3.75rem;
    }
}
.coDesign-collection__title{
    text-align: center;
    font-weight: bold;
    color: #fff;
    margin-bottom: .75rem;
    font-size: 1.25rem;
    line-height: 1.875rem;
    @include md{
        font-size: 2rem;
        line-height: 2.75rem;
        margin-bottom: 1rem;
    }
    @include lg{
        font-size: 3rem;
        line-height: 4.5rem;
        margin-bottom: 1.25rem;
    }
}
.coDesign-collection__list{
    display: flex;
    flex-direction: column;
    @include md{
        flex-direction: row;
        justify-content: space-between;
    }
}
.coDesign-category{
    position: relative;
    margin: .5rem 0rem;
    background-color: #fff;
    @include md{
        margin: 1rem 0rem;
    }
    @include lg{
        margin: 1.25rem 0rem;
    }
}

.coDesign__img:after{
    content: "";
    display: block;
    filter: opacity(60%);
    @include zoomimage;
    width: 345px;
    height: 291px;
    @include md{
        width: 330px;
        height: 278px;
    }
    @include lg{
        width: 540px;
        height: 455px;
    }
    
}
.coDesign__img:hover:after{
    filter: opacity(80%);
}
.coDesign-category:nth-child(1){
    .coDesign__img:after{
        background-image: url(../images/series-co-design-1.png);
    }
}
.coDesign-category:nth-child(2){
    .coDesign__img:after{
        background-image: url(../images/series-co-design-2.png);
    }
}
.coDesign__title{
    z-index: 99;
    @include transform-center;
    position: absolute;
    color: $primary;
    white-space: nowrap;
    font-weight: bold;
    font-size: 2rem;
    @include lg{
        font-size: 4.5rem;
    }
}

//顧客推薦
.buyer-review{
    padding: 2rem 0rem;
    @include md{
        padding: 2.5rem 0rem;
    }
    @include lg{
        padding: 3.75rem 0rem; 
    }
}
.buyer-review__title{
    text-align: center;
    color: $dark;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1.875rem;
    margin-bottom: 0.75rem;
    @include md{
        font-size: 2rem;
        line-height: 3rem;
        margin-bottom: 1rem;
    }
    @include lg{
        font-size: 3rem;
        line-height: 4.5rem;
        margin-bottom: 1.25rem;
    }
}
.buyer-review__lilst{
    @include md{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
.buyer-review__single{
    border-radius: 2%;
    box-shadow: 0px 2px 6px #DEE2E6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 460px;
    margin: .5rem 0rem;
    @include md{
        width: 48%;
        margin: 1rem 0rem;
    }
    @include lg{
        width: 24%;
        margin: 1.25rem 0rem;
    }
}
.buyer-photo{
    width: 100%;
    object-fit: cover;
    border-radius: 2% 2% 0% 0%;
    height: 256px;
}
.buyer-name{
    color: $gray;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 1rem 0rem .5rem 1.5rem;
}
.buyer-review__text{
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0rem 1.5rem;
}
.buyer-review__date{
    color: $light-gray;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 0rem 1.5rem;
    padding-bottom: 1rem;
}

//聯絡表單
.contact{
    background-color: $secondary;
    padding: 1.875rem 0rem;
    @include md{
        padding: 2.5rem 0rem;
    }
    @include lg{
        padding: 3.75rem 0rem;
    }
}
.contact__title{
    font-weight: bold;
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.875rem;
    margin-bottom: 1.25rem;
    @include md{
        font-size: 2rem;
        line-height: 3rem;
        margin-bottom: 1.5rem;
    }
    @include lg{
        font-size: 3rem;
        line-height: 4rem;;
    }
}
.contact__form{
    display: flex;
    flex-direction: column;
}
.contact__text{
    line-height: 1.5rem;
    margin-bottom: 0.75rem;
    @include md{
        margin-bottom: 1rem;
    }
}
.contact__form__input{
    display: flex;
    flex-direction: column;
    margin: 0.25rem 0rem;
    label{
        font-size: 0.875rem;
        line-height: 1.25rem;
        margin-bottom: 0.25rem;
    }
    input,textarea{
        background-color: $secondary;
        font-size: 0.875rem;
        line-height: 1.25rem;
        padding: .5rem .75rem;
        border: solid 1px #333;
    }
    button{
        border: none;
        width: 165px;
        background-color: $primary;
        color: #fff;
        align-self: center;
        margin-top: .75rem;
        font-weight: bold;
        font-size: 0.875rem;
        line-height: 1.25rem;
        padding: .5rem 0rem;
        @include md{
            margin-top: 1.25rem;
        }
    }
    &:nth-child(5){
        flex-direction: row;
    }
}